.MuiButtonBase-root.back-button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    color: #E0E0E0;
    font-size: 44px;
    font-family: "Underdog", system-ui;
    margin: 0;
    padding: 0;
}

.container1 {
    position: absolute;
    top: 125px;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    position: absolute;
    top: 150px;
    right: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container3 {
    position: absolute;
    bottom: 100px;
    left: calc(50% - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
}