.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #E0E0E0;
    font-family: "Underdog", system-ui;
}

.registrationPageHeader {
    font-size: 48px;
}