.MuiGrid-root.themes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.MuiGrid-root.theme-cell {
    display: flex;
    justify-content: center;
}