.progressCard {
    width: 300px;
    height: fit-content;
    margin-right: 30px;
}

.MuiCardContent-root {
    padding-top: 8px;
}

.progressStat {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}