.practiceContentContainer {
    width: 600px;
    padding: 20px;
    color: #E0E0E0;
    background-color: #1E1E1E;
    font-family: 'Manrope', system-ui;
    box-sizing: border-box;
    flex-grow: 1;
}

.practiceContentCardTitle {
    color: #E0E0E0;
    font-family: 'Manrope', system-ui;
    margin-top: 0;
}