.loginForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 400px;
    text-align: center;
    font-family: "Manrope", system-ui;
}

.loginInput {
    font-size: 24px;
    font-family: "Manrope", system-ui;
    border-color: #FF10F0;
    border-radius: 4px;
    padding: 12px;
    color: #1E1E1E;
}

.loginInput:focus {
    border: 3px solid #FF10F0;
    outline: none;
}

.MuiButtonBase-root.loginButton {
    background-color: #FF10F0;
    text-transform: none;
    font-family: "Manrope", system-ui;
    font-size: 18px;
    color: #1E1E1E;
    padding: 12px;
    transition: opacity 0.6s;
}

.MuiButtonBase-root.loginButton:hover {
    opacity: 0.9;
}

.MuiButtonBase-root.registrationLink {
    text-transform: none;
    font-size: 16px;
    color: #FF10F0;
    padding: 12px;
    font-family: "Manrope", system-ui;
    transition: color 0.6s, text-decoration 0.6s;
}

.MuiButtonBase-root.registrationLink:hover {
    color: #E0E0E0;
    text-decoration: underline;
}
