.gameInfo {
    padding-left: 20px;
    max-width: 600px;
}

.gameTitle {
    color: #E0E0E0;
    font-family: 'Manrope', system-ui;
}

.rules {
    color: #E0E0E0;
    font-family: 'Manrope', system-ui;
    font-size: 18px;
}